legend{
	color: red;
	background-color: #BBBDBD;
	border-radius: 25px;

}
fieldset{
	background-color: 
#898B8B;
box-shadow: 3px 3px red, -1em 0 .4em olive;
border-radius: 25px;
}
/correction{
	color: darkred;
}